.floating-box {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid black;
    background-color: red;
    font-size: 50px;
    color: yellow;
}

:nth-of-type(2) {
    color: white;
    background-color: black;
}