    body {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        height: 1500px;
        padding-top: 120px;
    }
    
    section {
        border: 2px dashed steelblue;
        width: 500px;
        height: 400px;
        /*  min-height: 300px;*/
        margin: 5em auto;
        padding: 2em;
        display: table;
        position: relative;
    }
    
    div {
        color: #444;
        font-size: 2.8em;
        font-weight: bold;
        line-height: 1.5;
        padding: .5em;
        text-align: center;
        background: rgba(173, 216, 230, 0.7);
    }
    /*Posicionamiento */
    /*.uno {
        position: relative;
        left: 30%;
        top: 50px;
    }*/
    /*.uno {
        position: absolute;
        top: 0px;
        left: 0px;
    }*/
    
    .uno {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
    }