.container {
    position: relative;
    border: 1px dashed grey;
}

nav {
    position: absolute;
    left: 0px;
    width: 195px;
    border: 1px dashed slateblue;
}

section {
    /* position is static by default */
    margin-left: 200px;
    border: 1px dashed steelblue;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 70px;
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
}

body {
    margin-bottom: 1000px;
}